button {
    background-color: #057d81;
    font: normal 16px Arial, Helvetica, sans-serif;
    color:#f2f7f8;
    line-height:3.6em;
	margin:0;
}

body{
	background-color:#f4f4f4;
	color:#555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	/* Same as above */
	font: normal 16px Arial, Helvetica, sans-serif;

	line-height:1.6em;
	margin:10px;
}
